/* article posting form container */
.about-user-form-container {
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    transition:flex 0.3s ease-out; 
    border-left: 0.5rem solid #968989;
    box-shadow: grey 0.1rem 0.05rem 0.1rem;
    flex:1;
    width: 90%;
    margin-left: 2%;
    padding: 5px;
    background-color:var(--white);
  }
  #previous-2{
    // margin-left: 5%;
    // margin-bottom: 5%;
    // margin-top: 7%;
  }
  #next-2{
    
  }
  
  
  @media only screen and (min-width:600px) {
    #next-2{
      margin-right: 10rem;
    }
    #previous-2{
      
    }
    .BtnGroup{
      margin-left: 10rem;
      // margin-bottom: 3rem;
      display: inline;
    }
    
  }