$screen-desktop-min: 600px;

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
#next {
  margin-right: 5%;
  margin-left: 65%;
  margin-bottom: 3%;
  width: 100%;
  border-radius: 4rem;
}
.signup-form {
  background-color: var(--white);
  border-radius: 1rem;
  margin-top: 5%;
}

.BtnGroup {
  margin-top: 5%;
  overflow: hidden;
  width: 100%;
  margin-bottom: 10%;
}

.BtnGroup :first-child {
  float: none;
  margin-left: 5%;
}

.BtnGroup :nth-child(2) {
  margin-right: 5%;
  float: right;
}

#next-with-previous,
#previous {
  padding: 10px 25px;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 4rem;
  outline: none;
  width: 30%;
}
.text-field {
  margin: 5%;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media only screen and (min-width: #{$screen-desktop-min}) {
  
  .signup-form {
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 4rem;
    margin-top: 1%;
  }
  .text-field {
    margin: 0%;
  }
  
}
