$screen-desktop-min: 600px;

.form-header{
text-align: center;
padding-top: 1%;
}

.registration-form {
  background-color: var(--white);
  border-radius: 2rem;
  margin-top: 10%;
}
.flex-wrap{
  display: flex;
  flex-wrap: wrap;
}
#next{
  float:right;
  margin-bottom: 5%;
  margin-top: 7%;
}
.text-field{
  margin: 5%;
}

@media only screen and (min-width: #{$screen-desktop-min}) {
  #next{
    margin-right: 5%;
    margin-left: 65%;
    margin-bottom: 3%;
    width:100%;
  }
  .registration-form {
    background-color: var(--white);
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 4rem;
    margin-top: 1%;
    // padding-bottom: 2%;
  }
  .text-field{
    margin: 0%;
  }
}
