.App {
  font-family: 'Lato', sans-serif;
}
body {
  background-color: #ecebeb;
  /* max-width: 100%;
  overflow-x: hidden;
  background: linear-gradient(to bottom right);
  background: url("./data/assets/background.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  
}

:root {
  --white: white;
  --grey: #808080;
  --wheat:#f5deb3;
  --black: #212121;
  --blue: #0000ff;
  --bluemix:#266769;
  --yellow: #fabb05;
  --green: #7eea88;
  --danger: #e41b23;
  --par: "Koho", sans-serif;
  --special: "Pattaya", sans-serif;
}